      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="height: 250px;">
        <h3 style="margin-top:-15px;">Expense Tracking Made Simple!</h3>
        <p>
        <span class="span5" style="font-size:24px;">Easy-to-use expense tracking system that provides world-class expenditure accounting and reporting.  <br>
        <br><%= link_to "Learn More »", "about" , :class=> 'btn btn-primary btn-large' %></span>
        
        <span class="span4 well offset6" style="margin-top:-250px;">
           <span style="font-size: 28px; font-weight: bold;">Login or Register</span><br><br>
        <input class="span4 " type="text" placeholder="Username" style="padding:9px; font-size:16px;">
        <input class="span4" type="password" placeholder="Password" style="padding:9px; font-size:16px;">
        <button type="submit" class="btn btn-success btn-large btn-block">Sign in</button>
        <span class="span4" style="margin-top:15px;"><small>Don't have an account? <%= link_to "Register here.", root_url + "user/register" %></small></span>
         </span>
        </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h4><i class="icon-user"></i> Groups</h4>
          <p>WOWTW features Groups for multiple scenarios and provides isolation between non-related expenditures. As a result, the data presented to you is concise and clear. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h4><i class="icon-repeat"></i> Recurring Expenses</h4>
          <p>WOWTW supports recurring expenses, so you do not have to waste time at the end of every month re-adding expenses such as utility bills.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h4><i class="icon-th-list"></i> Batch Expenditure Tracking</h4>
          <p>Have multiple items that need to be itemized? WOWTW provides an easy way to enter these details, therefore the sense of clarity is provided without additional user overhead.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
